mixin input(type="text", classe, id, name)
 input.input-control(type=type, class=classe, id=id name=name)

mixin label(label="", id)
 label.label-control(for=id)= label

mixin inputOptionsBase(type, label, classe, id, name)
  - id = label + '-' + id
  div
   +input(type, label, classe, id, name)
   +label(label, id)

.form-control
 +inputOptionsBase("radio", "1", "coisa", "d")
 +inputOptionsBase("radio", "2", "coisa", "d")
 +inputOptionsBase("radio", "3", "coisa", "d")