mixin input(type, label, classe=null)
     .form-control(class=label.replace(' ','-').replace(' ','-').replace(' ','-').toLowerCase())
        label.label-control= label 
        input.input-control(type=type, class=classe)
//- .form-control(class=label.replace(' ','-').toLowerCase())

mixin inputText(label)
 +input("text", label)

mixin inputTel(label)
 +input("tel", label)

mixin inputUrl(label)
 +input("url", label)

mixin inputPassword(label)
 +input("password", label)

mixin inputEmail(label)
 +input("email", label)

mixin textarea(label)
    .form-control(class=label.replace(' ','-').replace(' ','-').replace(' ','-').toLowerCase())
        label.label-control= label 
        textarea.input-control

//- Customs
mixin inputData(label)
 +input("text", label, "data")

mixin inputCpf(label)
 +input("text", label, "cpf")

mixin inputCep(label)
 +input("text", label, "cep")

mixin checkbox(label, name, id)
    - name = name || 'name';
    - id   = id || 'id';
    .form-control
        .switch
            input(type="checkbox" id=id, name=name)
            label(for=id)= label

mixin checkbox-group(items, name, id)
    .form-control.options
        each item, index in items
            .switch
                input(type="checkbox" id=index, name=name)
                label(for=index)= item
                
mixin inputSelect(items, label, id)
    .form-control(class=label.replace(' ','-').replace(' ','-').replace(' ','-').toLowerCase())
        label.label-control= label
        select.input-control(id=id)
            each item, index in items
                option(value=item)=item
