mixin spinner(min=null,max=null,step=null,val=0)
    .form-control
        block
        .spinner
            input(type="text", data-min=min, data-max=max, data-step=step, value=val)
            .nav
                .up +
                .down -